<form (submit)="onSubmitCommentForm($event)" [formGroup]="commentForm">
    <input formControlName="movieId" type="hidden">
    <input formControlName="userId" type="hidden">
    <input formControlName="userName" type="hidden">
    <div>
        <label>Score</label>
        <select formControlName="score" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>

    <div>
        <label>Votre avis</label>
        <textarea formControlName="content" cols="30" rows="10" class="form-control"></textarea>
        <p class="error" *ngIf="commentForm.controls['content'].hasError('minlength')"></p>
    </div>

    <div class="mb-3">
        <button class="btn" type="submit">Envoyer</button>
    </div>

</form>