<!-- <pre>
    {{movies | json}}
</pre> -->
<div class="container-fluid">

    <h1>Films à l'affiche</h1>

    <app-searchbar></app-searchbar>

    <div class="row">
        <div *ngFor="let movie of movies" class="col-12 col-md-3 ">
            <div routerLink="/detail" class="card">
                <img [src]="movie.image_landscape | printImg" [alt]="movie.titre">
                <div class="card-body">
                    <h2>{{movie.titre}}</h2>
                    <app-stars></app-stars>
                </div>
            </div>
        </div>
    </div>

</div>