/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';



body {
    background: #eee;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.message-error {
    --mdc-snackbar-container-color: rgb(175, 1, 1);
    color: #eee;
}

.message-success {
    --mdc-snackbar-container-color: green;
    color: #eee
}

.message-info {
    --mdc-snackbar-container-color: rgb(0, 64, 128);
    color: #eee
}